<% content_for :box do -%>
  <div class="block" id="block-login">
    <h2>登入</h2>
    <div class="content login">
      <% form_tag session_path, :class => "form login" do -%>
        <p><%= label_tag 'login' %><br />
        <%= text_field_tag 'login', @login %></p>

        <p><%= label_tag 'password' %><br/>
        <%= password_field_tag 'password', nil %></p>

        <!-- Uncomment this if you want this functionality
        <p><%= label_tag 'remember_me', 'Remember me' %>
        <%= check_box_tag 'remember_me', '1', @remember_me %></p>
        -->

        <p><%= submit_tag 'Log in' , :class => "button" %></p>
      <% end -%>
    </div>
  </div>
<% end -%>
