<% content_for :box do -%>
  <div class="block" id="block-login">
    <h2><%= t("sessions.login") %></h2>
    <div class="content login">
      <% form_tag session_path, :class => "form login" do -%>
        <p><%= label_tag User.human_attribute_name(:login) %><br />
        <%= text_field_tag 'login', @login %></p>

        <p><%= label_tag User.human_attribute_name('password') %><br/>
        <%= password_field_tag 'password', nil %></p>

        <p><%= submit_tag t('login') , :class => "button" %></p>
      <% end -%>
    </div>
  </div>
<% end -%>
