<%= f.error_messages %>
<%= f.text_field :name, :label => Group.human_attribute_name(:name) %>
<%= f.text_field :short_name, :label => Group.human_attribute_name(:short_name) %>
<br />
<h3><%= t("group.select_tag", :url => new_tag_path) %></h3>
<%= f.many_check_boxes("tag_ids", Tag.outgoing.map{|tag| [tag.name, tag.id]}, :label => t("group.outgoing_tag")) %>

