<table class ='table'>
  <tr>
    <th><%=h Expense.human_attribute_name("user") %></th>
    <th><%=h Expense.human_attribute_name("amount") %></th>
    <th><%=h Expense.human_attribute_name("entry_date") %></th>
  </tr>
  <% expenses.each do |expense| -%>
    <tr>
      <td><%= expense.user.login %></td>
      <td class='money'><%= show_amount(expense) %></td>
      <td><%= expense.entry_date %></td>
    </tr>
  <% end -%>
</table>
