<div class="block">
  <div class="content clearfix">
    <h2><%= t("group.show", :group => @group.name) %></h2>
    <div class="inner grid_12 alpha">
      <%= render_list :class => 'menu' do |list|
        list << link_to(t("group.joined_users"), group_users_path(@group)) if @current_user.manager?(@group)
        list << link_to(t("group.requiest_to_join"), join_user_group_path(@current_user, @group)) if @current_user.not_join?(@group)
        list << link_to(t("group.quit"), user_group_path(@current_user,@group), :method => :delete, :confirm => t("group.quit_confirm")) if !@current_user.manager?(@group) && @current_user.join?(@group)
        list << link_to(t("group.all_expenses"), group_expenses_path(@group)) if @current_user.approved?(@group)
        list << link_to(t("group.add_outgoing_expense"), new_group_expense_path(@group, :kind => :outgoing)) if @current_user.approved?(@group)
        list << link_to(t("group.add_income_expense"), new_group_expense_path(@group, :kind => :income)) if @current_user.approved?(@group)
        list << link_to(t("edit"), edit_group_path(@group)) if @current_user.manager?(@group)
      end -%>
      <br /><br />
      <p><%=h Group.human_attribute_name("name") %>: <%=h @group.name %></p>
      <p><%=h Group.human_attribute_name("short_name") %>: <%=h @group.short_name %></p>
      <% if @current_user.approved?(@group) -%>
        <p><%=h Group.human_attribute_name("total") %>: <%=h number_to_currency(@group.expenses.total, :precision => 0) %> </p>
        <br />
        <div class="inner grid_10 alpha">
          <% form_for :expense, :url => group_path(@group), :html => {:method => :get} do |f| %>
            <label>Start Date: </label><%= text_field_tag :start_date, @start_date.to_s(:db) -%>
            <label>End Date: </label><%= text_field_tag :end_date, @end_date.to_s(:db) -%>
            <%= f.submit "Search" %>
          <% end -%>
        </div>
        <br /><br />
        <div class="inner grid_6 alpha">
          <table class='table'>
            <tr>
              <th colspan='2'><%= t("expenses.user_report") %></th>
            </tr>
            <% @users_report.each do |item| -%>
              <%= render :partial => "item", :locals => {:name => item[0], :total => item[1]} %>
            <% end -%>
            <%= render :partial => 'total', :locals => {:total => @report_total} %>
          </table>
        </div>
        <div class="inner grid_6 omega">
          <table class='table'>
            <tr>
              <th colspan='2'><%= t("expenses.tag_report") %></th>
            </tr>
            <% @tags_report.each do |item| -%>
              <%= render :partial => "item", :locals => {:name => item[0], :total => item[1]} %>
            <% end -%> 
            <%= render :partial => 'total', :locals => {:total => @report_total} %>
          </table>
        </div>
      <% end -%>
    </div>
  </div>
</div>


