<div class="block">
  <div class="content clearfix">
    <h2>Show Group</h2>
    <div class="inner grid_10 alpha">
      <p>Name: <%=h @group.name %></p>
      <p>Short name:  <%=h @group.short_name %></p>
    </div>
  </div>
</div>
<br />
<%= link_to("Follow", follow_user_group_path(@current_user, @group)) if !@current_user.manager?(@group) && !@current_user.follow?(@group) %>
<%= link_to("Follower", "#") if @current_user.manager?(@group) %>
<%= link_to("Unfollow", follow_user_group_path(@current_user, @group)) if !@current_user.manager?(@group) && @current_user.follow?(@group) %>

<br />
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
