<div class="block">
  <div class="content clearfix">
    <h2><%= t("group.show", :group => @group.name) %> <%= t("group.frozen_message") if @group.state == "frozen" %></h2>
    <div class="inner grid_12 alpha">
      <%= render :partial => 'menu'  %>
      <br /><br />
      <p><%=h Group.human_attribute_name("name") %>: <%=h @group.name %></p>
      <p><%=h Group.human_attribute_name("short_name") %>: <%=h @group.short_name %></p>
      <% if @current_user.approved?(@group) -%>
        <p><%=h Group.human_attribute_name("total") %>: <%=h number_to_currency(@group.expenses.total, :precision => 0) %> </p>
        <br />
        <div class="inner grid_10 alpha">
          <% form_for :expense, :url => group_path(@group), :html => {:method => :get} do |f| %>
            <label>Start Date: </label><%= text_field_tag :start_date, @start_date.to_s(:db), :id=>'start-date' -%>
            <label>End Date: </label><%= text_field_tag :end_date, @end_date.to_s(:db), :id => 'end-date' -%>
            <%= f.submit "Search" %>
          <% end -%>
        </div>
        <br /><br />
        <div class="inner grid_6 alpha">
          <table class='table'>
            <tr>
              <th colspan='2'><%= t("expenses.user_report") %></th>
            </tr>
            <% @users_report.each do |item| -%>
              <%= render :partial => "item", :locals => {:name => item[0], :total => item[1]} %>
            <% end -%>
            <%= render :partial => 'total', :locals => {:total => @report_total} %>
          </table>
        </div>
        <div class="inner grid_6 omega">
          <table class='table'>
            <tr>
              <th colspan='2'><%= t("expenses.tag_report") %></th>
            </tr>
            <% @tags_report.each do |item| -%>
              <%= render :partial => "item", :locals => {:name => item[0], :total => item[1]} %>
            <% end -%> 
            <%= render :partial => 'total', :locals => {:total => @report_total} %>
          </table>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :page_specific_javascript do-%>
  <script type="text/javascript">
    var option = {dateFormat: 'yy-mm-dd'};
    $(document).ready(function(){
        $('#start-date').datepicker(option);
        $('#end-date').datepicker(option);
        });
</script>
<% end -%>
