<% content_for :header_link do -%>
  <a href="/" class="button back-button">首頁</a>
  <%= link_to "報表", report_group_path(@group), :class=>"button logout" %>
<% end -%>

<div id="container">
  <h3><%=h @group.name %></h3>
  <label style='font-size: 12px;'> <%= group_state_message(@group) %></label>
  <ul class="menu list">
    <li><%= link_to t("expenses.add_outgoing_expense"), new_group_expense_path(@group) %></li>
  </ul>

  <h3>快速報帳</h3>
  <ul class="menu list">
    <% @expenses.each do |expense| %>
      <li><%= link_to( truncate("#{expense.tag.name} / #{expense.amount.to_i} / #{expense.note}", 30), new_group_expense_path(@group, :template => expense.id)) %></li>
    <% end %> 
  </ul>

</div>
