<% content_for :sidebar do -%>
  <% groups = @current_user.groups -%>
  <div>
    <h2><%= t('welcome.joined_groups') %></h2>
    <table class="table">
      <tr>
        <th><%= UserGroupRelation.human_attribute_name(:group) %></th>
        <th><%= UserGroupRelation.human_attribute_name(:total) %></th>
        <th></th>
      </tr>
      <% groups.each do |group| -%>
        <tr>
        <td>
          <%= link_to group.short_name, group_path(group) %>
        </td>
        <td class='money'>
          <%= number_to_currency(group.expenses.total, :precision => 0, :unit => "") %>
        </td>
        <td>
          <%= render_list :class => "menu" do |list|
            list << link_to(t("group.all_expenses"), group_expenses_path(group))
            list << link_to(t("group.add_outgoing_expense"), new_group_expense_path(group))
          end -%>
        </td>
    </tr>
      <% end -%>
    </table>
  </div>
<% end -%>
