<%= f.error_messages %>
<p>
<%= f.select :tag_id, @group.tags.map{ |tag| [tag.name, tag.id]}, :label => "Tag" %>
<span><%= link_to "NewTag", new_group_tag_path(@group) %></span>
</p>
<p><%= f.text_field :amount, :label => "amount" %></p>
<p><%= f.text_field :comment, :label => "comment" %></p>
<p><%= f.date_select :charge_date, :label => "charge_date" %></p>
<p><%= f.select :currency_id, Currency.find(:all).map{ |c| [c.name, c.id] }, :label => "Currency" %></p>
