<%= f.error_messages %>
<%= hidden_field_tag :kind, kind %>
<p>
<%= f.select :tag_id, tags.map{ |tag| [tag.name, tag.id]}, :label => Expense.human_attribute_name(:tag) %>
<label><%= link_to "NewTag", new_tag_path(:group_id => @group.secret_id) %></label>
</p>
<p><%= f.text_field :amount, :label => Expense.human_attribute_name(:amount) %></p>
<p><%= f.text_field :note, :label => Expense.human_attribute_name(:note) %></p>
<p><%= f.date_select :entry_date, :label => Expense.human_attribute_name(:entry_date)  %></p>
<p><%= f.select :currency_id, Currency.find(:all).map{ |c| [c.name, c.id] }, :label => Expense.human_attribute_name(:currency) %></p>
