<%= f.error_messages %>
<p>
<%= f.select :tag_id, tags.map{ |tag| [tag.name, tag.id]}, :label => Expense.human_attribute_name(:tag) %>
<label><%= link_to "NewTag", new_tag_path(:group_id => @group.secret_id) %></label>
</p>
<p><%= f.text_field :amount, :label => Expense.human_attribute_name(:amount) %></p>
<p><%= f.text_field :entry_date, :label => Expense.human_attribute_name(:entry_date)  %></p>
<p><%= f.text_field :note, :label => Expense.human_attribute_name(:note) %></p>

<% content_for :page_specific_javascript do -%>
  <%= javascript_include_tag 'jquery-ui/jquery.ui.datepicker',
                               'jquery-ui/i18n/jquery.ui.i18n',
                               'jquery-ui/i18n/jquery.ui.datepicker-zh-TW',
                               :cache => 'all' %>
  <script type="text/javascript">
    var option = {dateFormat: 'yy-mm-dd'};
    $(document).ready(function(){
      $('#expense_entry_date').datepicker(option);
    });
  </script>
<% end -%>
