<div class="block">
  <div class="content clearfix">
    <h2>Group: <%= @group.name %> Expenses</h2>
    <div class="inner grid_10 alpha">
      <table class ='table'>
        <% date = Date.parse("2000-01-01") %>
        <% @expenses.each do |expense| -%>
          <% if expense.charge_date != date -%>
            <% date = expense.charge_date -%>
            <tr>
              <th colspan='2'><%= date.to_s(:db) %></th>
            </tr>
          <% end -%>
          <tr>
            <td><%=h expense.user.login %></td>
            <td><%=h expense.tag.name %></td>
            <td><%=h expense.comment %></td>
            <td class='money'><%= show_amount(expense) %></td>
            <td>
              <%= render_list :class => 'menu' do |list|
                list << link_to("Edit", edit_group_expense_path(@group, expense)) if @current_user.expenses.include?(expense)
                list << link_to("Destroy", group_expense_path(@group,expense), :method => :delete)  if @current_user.expenses.include?(expense)
              end -%>
            </td>
          </tr>
        <% end -%>
        <tr>
          <td colspan='4' class='money'><%= @total %></td>
          <td />
        </tr>
      </table>
    </div>
  </div>
</div>

<%= link_to "Show Group", group_path(@group) %>|
<%= link_to "NewExpense", new_group_expense_path(@group) %>
