<div class="block">
  <div class="content clearfix">
    <h2><%=h t("expenses.group_overview", :group => @group.name) %></h2>
    <div class="inner grid_10 alpha">
      <%= link_to t("show"), group_path(@group) %>
      <table class ='table'>
        <% date = Date.parse("2000-01-01") %>
        <% @expenses.each do |expense| -%>
          <% if expense.entry_date != date -%>
            <% date = expense.entry_date -%>
            <tr>
              <th colspan='5'><%= date.to_s(:db) %></th>
            </tr>
          <% end -%>
          <tr>
            <td><%=h expense.user.login %></td>
            <td><%=h expense.tag.name %></td>
            <td><%=h expense.note %></td>
            <td class='money'><%= number_to_currency(expense.show_amount, :precision => 0, :unit => "") %></td>
            <td>
              <%= render_list :class => 'menu' do |list|
                list << link_to(t("edit"), edit_group_expense_path(@group, expense)) if @current_user.expenses.include?(expense)
                list << link_to(t("destroy"), group_expense_path(@group,expense), :method => :delete, :confirm => t(:are_you_sure_to_destroy))  if @current_user.expenses.include?(expense)
              end -%>
            </td>
          </tr>
        <% end -%>
        <tr class = 'total'>
          <td colspan='3'><%= Group.human_attribute_name(:total) %></td>
          <td class='money'><%= number_to_currency(@total, :precision => 0, :unit => "") %></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>


