<div class="block">
  <div class="content clearfix">
    <h2><%= t("tags.list") -%></h2>
    <%= link_to t("tags.new"), new_tag_path %>
    <br />
    <div class="inner grid_6 alpha">
      <table class='table'>
        <tr>
          <th colspan = '2'><%= t("tags.outgoing") %></th>
        </tr>
        <% Tag.outgoing.sort_by_counter.each do |tag| -%>
          <tr>
            <td><%= tag.name %></td>
            <td>
              <%= link_to(t(:edit), edit_tag_path(tag)) if tag.expenses.empty? && tag.user == @current_user %>
              <%= link_to(t(:destroy), tag_path(tag), :confirm => t(:are_you_sure_to_destroy)) if tag.expenses.empty? && tag.user == @current_user %>
            </td>
          </tr>
        <% end -%>
      </table>
    </div>
    <div class="inner grid_6 alpha">
      <table class='table'>
        <tr>
          <th colspan = '2'><%= t("tags.income") %></th>
        </tr>
        <% Tag.income.sort_by_counter.each do |tag| -%>
          <tr>
            <td><%= tag.name %></td>
            <td>
              <%= link_to(t(:edit), edit_tag_path(tag)) if tag.expenses.empty? && tag.user == @current_user %>
              <%= link_to(t(:destroy), tag_path(tag), :confirm => t(:are_you_sure_to_destroy)) if tag.expenses.empty? && tag.user == @current_user %>
            </td>
          </tr>
        <% end -%>
      </table>
    </div>
    
  </div>
</div>
<br />
<br />
