<div class="block">
  <div class="content clearfix">
    <h2>Group: <%= @group.name %> Tags </h2>
    <div class="inner grid_10 alpha">
      <table class='table'>
        <% @tags.each do |tag| -%>
          <tr>
            <td><%= tag.name %></td>
            <td><%= tag.is_income ? "income" : "outgoing" %></td>
            <td>
              <% if tag.user == @current_user -%>
                <%= link_to "Edit", edit_group_tag_path(@group, tag) %>|
                <%= link_to "Destroy", group_tag_path(@group, tag), :method => :delete %>
                <% end -%>
              </td>
          </tr>
        <% end -%>
      </table>
    </div>
  </div>
</div>

<%= link_to "Show Group", group_path(@group) %>

