<div class="block">
  <div class="content clearfix">
    <h2><%= t("expenses.edit") %></h2>
    <div class="inner">
      <% handicraft_form_for(@expense) do |f| %>
        <%= render :partial => 'form', :locals => { :f => f, :groups => @groups, :tags => @tags, :kind => @kind }%>
        <%= f.submit 'Update', :id => 'confirm-button' %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to t(:show), @expense, :id => 'back-button' %>

<% content_for :page_specific_javascript do-%>
  <%= javascript_include_tag 'jquery-ui/jquery.ui.widget',
                               'jquery-ui/jquery.ui.button',
                               :cache => 'all' %>
  <script type="text/javascript">
    $(function(){
        $("#back-button").button();
     });
</script>
<% end -%>
