<div class="block">
  <div class="content clearfix">
    <h2><%= t("expenses.my") %></h2>
    <div class = "inner grid_6 alpha">
      <table class='table'>
        <tr>
          <th colspan='2'><%= t("expenses.group_report") %></th>
        </tr>
        <%= render :partial => 'report', :locals => { :items => @groups } %>
      </table>
    </div>

    <div class = "inner grid_6 omega">
      <table class='table'>
        <tr>
          <th colspan='2'><%= t("expenses.tag_report") %></th>
        </tr>
        <%= render :partial => 'report', :locals => { :items => @tags } %>
      </table>
    </div>
    <br />

    <div class="inner grid_12 alpha">
      <h3><%= t("expenses.overview") %></h3>
      <table class='table'>
        <tr>
          <th><%= Expense.human_attribute_name(:group) %></th>
          <th><%= Expense.human_attribute_name(:tag) %></th>
          <th><%= Expense.human_attribute_name(:amount) %></th>
          <th><%= Expense.human_attribute_name(:note) %></th>
          <th><%= Expense.human_attribute_name(:entry_date) %></th>
          <th><%= Expense.human_attribute_name(:currency) %></th>
          <th></th>
        </tr>

        <% @expenses.each do |expense| %>
          <tr>
            <td><%=link_to expense.group.short_name, group_path(expense.group) %></td>
            <td><%=h expense.tag.name %></td>
            <td class='money'><%=h number_to_currency(expense.show_amount, :precision => 0) %></td>
            <td><%=h expense.note %></td>
            <td><%=h expense.entry_date %></td>
            <td><%=h expense.currency.name %></td>
            <td>
              <%= render_list :class => 'manu' do |list|
                list << link_to(t(:show), expense_path(expense))
                list << link_to(t(:edit), edit_expense_path(expense))
                list << link_to(t(:destroy), expense, :confirm => t('are_you_sure_to_destroy'), :method => :delete)
              end -%>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<br />

