<div class="block">
  <div class="content clearfix">
    <h2>My expenses</h2>
    <div class="inner grid_10 alpha">

      <table class='table'>
        <tr>
          <th>Group</th>
          <th>Tag</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Comment</th>
          <th>Charge date</th>
          <th>Currency</th>
          <th></th>
        </tr>

        <% @expenses.each do |expense| %>
          <tr>
            <td><%=link_to expense.group.short_name, group_path(expense.group) %></td>
            <td><%=h expense.tag.name %></td>
            <td><%=h expense.is_income ? "income" : "outgoing" %></td>
            <td><%=h expense.amount %></td>
            <td><%=h expense.comment %></td>
            <td><%=h expense.charge_date %></td>
            <td><%=h expense.currency.name %></td>
            <td><%= link_to 'Show', expense %>|<%= link_to 'Edit', edit_expense_path(expense) %>|<%= link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<br />

