<h1>My expenses</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Tag</th>
    <th>Is income</th>
    <th>Amount</th>
    <th>Comment</th>
    <th>Charge date</th>
    <th>Currency</th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%=h expense.group.short_name %></td>
    <td><%=h  %></td>
    <td><%=h expense.is_income %></td>
    <td><%=h expense.amount %></td>
    <td><%=h expense.comment %></td>
    <td><%=h expense.charge_date %></td>
    <td><%=h expense.currency_id %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New expense', new_expense_path %>
