<div class="block">
  <div class="content clearfix">
    <h2>Show Expense</h2>
    <div class="inner grid_10 alpha">

      <p>
      <b>Group:</b>
      <%=h @expense.group.name %>
      </p>

      <p>
      <b>User:</b>
      <%=h @expense.user.login %>
      </p>

      <p>
      <b>Tag:</b>
      <%=h @expense.tag_id %>
      </p>

      <p>
      <b>Amount:</b>
      <%=h @expense.show_amount %>
      </p>

      <p>
      <b>Note:</b>
      <%=h @expense.note%>
      </p>

      <p>
      <b>Charge date:</b>
      <%=h @expense.charge_date %>
      </p>

      <p>
      <b>Currency:</b>
      <%=h @expense.currency.name %>
      </p>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
