<div class="block">
  <div class="content clearfix">
    <h2><%= t("expenses.show") %></h2>
    <div class="inner grid_10 alpha">

      <p>
      <b><%= Expense.human_attribute_name(:group) %>:</b>
      <%=h @expense.group.name %>
      </p>

      <p>
      <b><%= Expense.human_attribute_name(:user) %>:</b>
      <%=h @expense.user.login %>
      </p>

      <p>
      <b><%= Expense.human_attribute_name(:tag) %>:</b>
      <%=h @expense.tag.name %>
      </p>

      <p>
      <b><%= Expense.human_attribute_name(:amount) %>:</b>
      <%=h @expense.show_amount %>
      </p>

      <p>
      <b><%= Expense.human_attribute_name(:note) %>:</b>
      <%=h @expense.note%>
      </p>

      <p>
      <b><%= Expense.human_attribute_name(:entry_date) %>:</b>
      <%=h @expense.entry_date %>
      </p>

      <p>
      <b><%= Expense.human_attribute_name(:currency) %>:</b>
      <%=h @expense.currency.name %>
      </p>
    </div>
  </div>
</div>


<%= link_to t(:edit), edit_expense_path(@expense) %> |
<%= link_to t("expenses.my"), expenses_path %>
