<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta id="viewport" name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" href="/images/mobile/gurupu-clip.png">
    <title>GURUPU</title>
    <%= stylesheet_link_tag "mobile", 'jquery-ui/jquery.ui.all', 'stickie' %>
    <style>
    #stickies {
     font-size: 12px;
    }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="header" class="clearfix">
        <h1>GURUPU</h1>
        <%= yield :header_link %>
      </div>
      <%= yield :select_date %>
      <div id="container">
        <%= render_stickies :close => nil %>
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <a href="handlino.com">公司網站</a>
      <a href="#">聯絡我們</a>
    </div>

    <%= javascript_include_tag "jquery-1.4.2.min", "jquery-ui/jquery.ui.core", "mobile" %>
    <script>
      $(document).ready(function(){
        setTimeout(function(){window.scrollTo(0, 1);}, 100);
        $('input[type=text]:first').focus();
      });
    </script>
    <%= yield :page_specific_javascript %>
  </body>
</html>
