<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <%= render_page_title %>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <%= stylesheet_link_tag 'handicraft/reset',
                            'handicraft/fonts',
                            'handicraft/base',
                            'handicraft/960',
                            'handicraft/form',
                            'handicraft/site',
                            'stickie',
                            'handicraft/themes/default/core',
                            'handicraft/themes/default/red',
                            'application',
                            'jquery-ui/jquery.ui.all'
                             %>
    <%= stylesheet_link_tag 'mobile' if mobile_device? %>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="alternate" type="application/atom+xml" href="/">
</head>
<%= render_body_tag %>
<div id="doc">
  <div id="header">
    <div class="container_16 clearfix">
      <div class="grid_16">
        <h1><%= link_to t(:logo), root_path %></h1>
        <%= render :partial => "common/user_navigation" %>
        <%= render :partial => "common/main_navigation" %>
      </div>
    </div>
  </div>
  <div id="wrapper" class="container_16 clearfix">
    <div class="grid_16">
      <%= render_stickies %>
      <% if @content_for_box %>
        <div id="box"  class="container_16 cleafix">
          <%= yield(:box) %>
        </div>
      <% else %>
        <div id="wrapper" class="container_16">
          <% if @content_for_sidebar %>
            <div id="main" class="grid_11 alpha">
              <%= yield %>
            </div>
            <div id="sidebar" class="grid_5 omega">
              <%= yield :sidebar %>
            </div>
          <% else %>
            <div id="main">
              <%= yield %>
            </div>
          <% end %>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="footer" class="container_16 clearfix">
    <div class="grid_16">
      <address>Copyright &copy; 2009 <a href="http://blog.weijen.net">Wei Jen Lu</a></address>
    </div>
  </div>
</div>
<%= javascript_include_tag 'jquery-1.4.2.min',
                               'core',
                               'jquery.metadata',
                               'jquery.form',
                               'handicraft',
                               'application',
                               'jquery-ui/jquery.ui.core',
                               'jquery.cookie',
                               'jquery-ui/jquery.ui.widget',
                               'jquery-ui/jquery.ui.datepicker',
                               'jquery-ui/i18n/jquery-ui-i18n',
                               'jquery-ui/i18n/jquery.ui.datepicker-zh-TW',
                               'jquery-ui/jquery.ui.tabs',
                               'jquery-ui/jquery.ui.button',
                               'jquery-ui/jquery.ui.autocomplete'
                                %>
<%= init_tinymce_hammer_if_required %>
<%= yield_authenticity_token %>
<%= yield :page_specific_javascript %>

<script type="text/javascript">
    $(function(){
        $(".back-button").button();
     });
</script>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-2945555-12");
    pageTracker._trackPageview();
  } catch(err) {}
</script>


</body>
</html>
