<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <%= render_page_title %>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico">
    <%= stylesheet_link_tag "/jqtouch/jqtouch/jqtouch.min.css", "/jqtouch/themes/apple/theme.min.css" %>
    <%= javascript_include_tag "/jqtouch/jqtouch/jquery.1.3.2.min.js", "/jqtouch/jqtouch/jqtouch.min.js", "mobile" %>
  </head>
  <body>
    <div class="current">
      <div class="toolbar">
        <%= link_to "", nil, :class => "back" unless current_page? root_path %>
        <h1><%=h yield(:title) %></h1>
        <%= link_to "", root_url(:mobile => 0), :class => "button", :rel => "external" %>
        <%= yield(:toolbar) %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
